.error {
    border: 2px solid #FB0021 !important;
  }
  
  .btn-back {
    padding-left: 15px;
    --background: transparent;
    --box-shadow: 0 0 0 0;
  }
  .btn-back:hover{
    cursor: pointer;
  }
  
  .title-content {
    text-align: center;
    --color: #FB0021;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
  
  .formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .container-forms {
    width: 90%;
    display: flex;
    flex-direction: column !important;
    margin-bottom: 1.6rem;
  }
  
  .div-label {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  
  .div-label > ion-label {
    margin-left: 10px;
  }
  
  .input-modify {
    border: solid gray 1px;
    margin-top: 1.2rem;
    border-radius: 15px;
    padding: 5px 15px 5px 15px!important;
  }
  

  .btn-active {
    --background: #FB0021;
    --color: #FFF;
    --border-radius:12px!important
  }
  
  .btn-inactive {
    --background: gray;
    --color: #D3D3D3;
    --border-radius:12px!important
  }