<ion-header>
  <ion-toolbar style="background-color: red;">
    <ion-title class="titulo">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-screen_container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="container-forms">
        <div class="div-label">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="32" height="32"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#FB0021" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
            <path d="M3 7l9 6l9 -6" />
          </svg>
          <ion-label class="titulo">Correo Electrónico</ion-label>
        </div>
        <ion-input aria-label="email" class="input-modify" name="email" type="email"
          placeholder="Ingrese su correo electrónico" formControlName="email" ngDefaultControl
          [ngClass]="{'error': isEmailInvalid, 'input-modify': !isEmailInvalid }"></ion-input>
        <span class="login-screen_text-red" *ngIf="isEmailInvalid">
          Ingrese un correo electrónico válido.
        </span>
        <span class="login-screen_text-red" *ngIf="isEmailRequired">
          El correo electrónico es requerido.
        </span>
      </div>

      <div class="container-forms">
        <div class="div-label">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="32" height="32"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#FB0021" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
            <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
            <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
          </svg>
          <ion-label class="titulo">Contraseña</ion-label>
        </div>
        <ion-input aria-label="password" class="input-modify" name="password" formControlName="password"
          placeholder="Ingrese su contraseña" type="password" ngDefaultControl></ion-input>
        <span class="login-screen_text-red" *ngIf="isPasswordRequired">
          La contraseña es requerida.
        </span>
      </div>

      <ion-button class="login-screen_mt" expand="block" type="submit" [disabled]="isFormInvalid">Iniciar
        sesión</ion-button>
    </form>

    <a class="login-screen_register" routerLink="register-page"> ¿No tienes cuenta? Regístrate </a>

  </div>
</ion-content>
